@charset"utf-8";

body{
	position:relative;
}

header{
	min-height:1250px;
	background-color:lawngreen;
}

nav{
	margin-top:120px;
	height:40px;
	padding-top:10px;
	text-align:center;
	background-color: lightblue;
	line-height:0;
	position:sticky;
	top:100px;
	z-index:1;
	width:100%;
	margin-bottom:200px;
}

nav ul{
	display:flex;
	justify-content:space-between;
	padding:0;
}

nav ul li{
	display:inline;
}

nav ul li a{
	color:#0A0A0A; /* Negro */
	text-decoration:none;
	padding:5px 15px;
	font-size:20px;
	background-color:#FFA500; /* Amarillo */
 	border-radius:5px;
}

nav ul li a:hover{
	color:#FFA500;
	background-color:#FFFFFF;
}

/* ------------------------------------------------------------------------ */

body{font-family:sans-serif; margin:0; padding:0; padding-bottom:200em;}

div.uno, div.dos{border-radius:5px; color:#444; font-size:45px; font-weight:bold; line-height:1.5; padding:8px; text-align:center; background-color:lightblue;}

.rel{border:2px dashed steelblue; width:500px; height:400px; margin:0;}
.uno{position:relative; bottom:-360px; right:-50px; width:80%;}

.abs{border:2px dashed steelblue;  margin:80px 10px; width:500px; height:400px; background-color: steelblue;}
.dos{position:absolute; top:10px; right:5px;}

/* ------------------------------------------------------------------------ */

.imag{width:622px;}
.contdesc{position:relative; bottom:50px; right:-200px; background-color:white; border:1px solid #000; width:100%}
.desc{font-size:16px; margin:0; padding:10px;}

/* ------------------------------------------------------------------------ */

#corcho{
	background-image: url("../images/corcho.jpg");
	background-size: cover;
	height:1200px;
}

#poster01, #poster02{
	width:400px;
	position: relative;
}

img[alt="chincheta"]{
	width:50px;
	position:relative;
}

#poster01{
	top:5em;
	left:5em;
}

#ch01, #ch03{
	position: relative;
	top:0;
	left:0;
}

#poster02{
	top:0;
	left:0;
}

.clear{
	clear: both;
}

